<%= render "shared/header"%>
<div class="follow-wrapper">
  <h1 class="top-message">フォロ中一覧</h1>
    <% @user.followings.each do |user| %>
      <div class="follow-content">
        <% unless user.profile.nil? %>
          <div class="profile-image">
            <%= image_tag user.profile.image, size: '50x50' ,class: "rounded-circle border border-secondary" %>
          </div>
        <% else %>
        <div class="profile-image" >
          <i class="fas fa-user fa-2x fa-border"></i>
        </div>
        <% end %>
          <%= link_to user.name, user_path(user.id), class: "user-name" %>
      </div>
    <% end %>
</div>
  
<%= render "shared/footer"%>