<div class="full">
  <div class="box" id="box">
    <h1 class="h1"  >
    <%= link_to new_user_session_path do%>
      <p class="p1" id="top-str">MOTIVATE</p>
      <% end %>
      <p class="p2">be motivated. be motivation.</p>
    </h1>
  </div>
<div>
