

.detail-wrapper {
  display: flex;
  justify-content: space-between;
}

.detail-card {
  width: 30%;
  height: 550px;
  margin-top: 20px;
  background: white;
  border: solid 1px #5d627b;
  box-shadow: 03px 5px rgba(0,0,0,0.22);
}

.comment-wrapper {
  padding-top: 100px;
  width: 50%;
  height: 100%;
}
.detail-message {
  height:110px ;
  margin: 0 5px 0 5px;
  overflow: scroll;
}


.comments {
  height: 200px;
  border: solid 1px #5d627b;
  box-shadow: 03px 5px rgba(0,0,0,0.22);
  overflow: scroll;
}

.comment {
  border: solid 1px #333;
}

@media (max-width: 992px) {
  .detail-wrapper {
    display: flex;
    flex-direction: column;
  }
 .detail-card {
   width: 45%;
   margin:20px auto;
 }

 .comment-wrapper {
  padding: 5px 0 100px 0;
  width: 90%;
  height: 100%;
}
  }
  
  @media (max-width: 768px) {
    .detail-wrapper {
      display: flex;
      flex-direction: column;
    }
   .detail-card {
     width: 65%;
     margin:20px auto;
   }

   .comment-wrapper {
    padding: 5px 0 100px 0;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  }
  
  @media (max-width: 544px) {

    .detail-wrapper {
      display: flex;
      flex-direction: column;
    }
   .detail-card {
     width: 65%;
     margin:20px auto;
   }

   .comment-wrapper {
    padding: 5px 0 100px 0;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  }